BASE_URL=http://localhost:8080
UI_URL=http://localhost:8080
USER_USERNAME=tester
USER_PASSWORD=senha1234
USER_EMAIL=qa@teste.com
DEFAULT_CURRENCY=BRL
DEFAULT_LANGUAGE=pt_BR
DEFAULT_TIMEZONE=America/Sao_Paulo
RATE_LIMIT_USERNAME=rate_user
RATE_LIMIT_PASSWORD=senha1234
REPORT_DIR=reports